*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}


html{
    color: #000000;
}

h1{
    font-family: 'Cinzel', serif;
    font-size: 50px;
}

a{
    font-family: monospace;
    color: beige;
    text-decoration: none;
}

li{
    padding:5px;
    list-style: none;
}

.container { 
    box-shadow: 10px 10px;
    background-color: rgba(31, 22, 11, 0.795);
    background-size: cover;
    margin: 1rem auto;
    max-width: 100rem;
    width: 90%;
}

.header{
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    text-align: center; 
    padding:15px;
}

.header__nav_listItem{
    font-size: 30px;
}
.header__nav_listItem:hover{
    padding:5px;
    background-color: rgb(36, 36, 31);
}

.social__links_header{
    display:flex;
    justify-content: center;
}

.profile__heading{
    background-color: beige;
    display: flex;
    justify-content: center;
}

.profile{
    display:flex;
    flex-direction: column;
    padding:50px;
}
.profile__pic{
    height: auto;
    max-width:10rem;
    margin-top: 10px;
    border-radius: 20px;
    border: white 5px solid;
}

.computer{
    height: auto;
    max-width:7rem;
}


.profile__pic_wrapper{
    display:flex;
    justify-content: space-evenly;
}


.aboutMe{
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    /* padding: 40px; */
    border-radius: 15px;
    border: white 5px solid;
    margin-top: 60px;
}

.profile__heading{
    margin-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

p{
    font-size: 15px;
    padding:20px;
    font-weight: bolder;
    line-height: 20px;
    height: 200px;
    overflow-y: scroll;

}

.projects__column_title{
    font-family: 'Cinzel', serif;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
}

.project{
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    margin-left: 50px;
    margin-right: 50px;
    border: white 5px solid;
    border-radius: 15px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    margin-left: 20px;
    margin-right: 20px;
}

.project__photo {
    height: 100px;
    max-width: auto;
    border-radius: 15px;
    border: white 5px solid;
}
.project__description {
    padding: 30px;
    font-size: 12px;
    overflow-y: scroll;
    
}

.projects__column{
    border: white 5px solid;
    text-align: center;
    margin-bottom:30px;
    box-shadow: 5px 5px;
    
}

.projects__column:hover {
    background-color: rgb(126, 126, 104);
    transition: 1s;
  }

  .play{
    color:orangered;
  }

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: black;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

.social__links{
    margin-top: 7px;
    margin-bottom: 5px;
    margin-right: 20px;
    display: flex;
}
.copyright{
    font-family: monospace;
    margin-top: 15px;
    margin-left: 20px;
}

.social__links_wrapper{
    padding:10px;
}

.social__icon{
    height:auto;
    max-width: 30px;
    
}

@media only screen and (max-width: 990px) {
    .header{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .header__nav_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}
