*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


html{
    color: #000000;
    font: 18px/1.618 sans-serif;
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: #000000;
    padding: .25rem .5rem;
    text-decoration: none;
}

.container {
    background-color: rgb(172, 201, 183);
    margin: 1rem auto;
    max-width: 100rem;
    width: 90%;

}

.header{
    margin-left: 550px;
    display: flex;
    justify-content:space-between;
}

.header__logo{
    align-items: center;
}

.header__nav_listItem:hover{
    background-color: rgb(126, 126, 104);
}

.profile__heading{
    display: flex;
    justify-content: center;
}

.profile{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.profile__pic{
    height: auto;
    max-width:15rem;
    border-radius: 100px;
    border: white 5px solid;
}

.projects__column_title{
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.project__photo {
    text-align: center;
    height: auto;
    max-width: 80%;
    border-radius: 70px;
    border: white 5px solid;
}
.project__description {
    padding: 30px;
}

.projects__column{
    border: white 5px solid;
    border-radius:20px;
    text-align: center;
    margin-bottom:30px
}

.projects__column:hover {
    background-color: rgb(126, 126, 104);
  }

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: black;
    margin-left: 20px;
}

.social__links{
    display: flex;
}


.social__icon{
    height:auto;
    max-width: 30px;
}

.social__links_wrapper:hover{
    background-color: rgb(126, 126, 104);
}



